@using Humanizer
    
@* Date Time Column *@
<div class="chat-dtg text-nowrap">@DateTimeUTC.Humanize()</div>

@* Username Column *@
<div class="chat-user text-nowrap">
    @if(string.IsNullOrWhiteSpace(Username) == false)
    {
        <span class="badge badge-primary">
            @Username
        </span>
    }
</div>

@* Message Column *@
<div class="chat-message">
    <span class="msg">@Message</span>
</div>

@* Actions Column *@
<div class="chat-actions"></div>

@code {
    [Parameter]
    public DateTime DateTimeUTC { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string Username { get; set; }
}
