html, body, main, app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: transparent;
    margin:0;
    padding:0;
}

.extension-showcase {
    border:1px solid red;
    padding:0;
    margin:30px;
    margin-top:0;
}

.chat-highlighter {
    margin:15px;
    padding:3px;
    box-shadow:10px 10px 10px rgba(0,0,0,0.5);
    background-color:orange;
    border-radius:5px;
}
.chat-highlighter-message {
    color:black;
}
.chat-highlighter-username {
    font-weight:bold;
    color:rgba(0,0,0,0.75);
}