html, body, main, app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: transparent;
    margin:0;
    padding:0;
}

.extension-showcase {
    border:1px solid red;
    padding:0;
    margin:30px;
    margin-top:0;
}

.chat-highlighter {
    text-align: center;
}
.chat-highlighter-wrap {
    max-width:50%;
    display:inline-block;
    text-align:center;
}

.highlighted-chat-message {
    /* Margin and box shadow work together here, 
        margin must be at LEAST twice the box shadow 
        so that the shadow is not cut off in the direction 
        that the shadow goes
    */
    margin: 30px;
    margin-top: 3px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    padding: 3px;
    display: inline-block;
    background-color: orange;
    border-radius: 5px;
    font-size:36px;
}
.highlighted-chat-message-msg {
    color: black;
}
.highlighted-chat-message-username {
    font-weight: bold;
    color: rgba(0,0,0,0.75);
}