<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Blazor OBS</a>

    <a class="nav-link">Settings</a>
    <a class="nav-link text-light" href="/login">Login</a>
</nav>

@code {

}
