<div class="chat-highlighter animated fadeInLeft @(FadeOut ? "fadeOutRight" : "")">
    <span class="chat-highlighter-username">@Username:</span>
    <span class="chat-highlighter-message">@Message</span>
</div>

@code {
    [CascadingParameter(Name = "IsExtension")]
    public Action IsExtension { get; set; }

    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public bool FadeOut { get; set; }

    protected override void OnInitialized()
    {
        IsExtension?.Invoke();

        base.OnInitialized();
    }

}
