@* This component will show up only when disconnected *@
<div id="components-reconnect-modal">
    <div class="show">
        <i class="fas fa-plug" title="Disconnected"></i>
    </div>
    <div class="failed">
        <i class="fas fa-plug" title="Failed to reconnect"></i>
    </div>
    <div class="refused">
        <i class="fas fa-plug" title="Connection refused"></i>
    </div>
</div>