<div class="highlighted-chat-message animated fadeInLeft @(Exit  ? "fadeOutRight" : "")">
    <span class="highlighted-chat-message-username">@Username:</span>
    <span class="highlighted-chat-message-msg">@Message</span>
</div>

@code {
    [CascadingParameter(Name = "IsExtension")]
    public Action IsExtension { get; set; }

    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public bool Exit { get; set; }

    protected override void OnInitialized()
    {
        IsExtension?.Invoke();

        base.OnInitialized();
    }

}
